rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // 1. GLOBAL LOCK (Default Deny)
    match /{document=**} {
      allow read, write: if false;
    }

    // 2. APP SPECIFIC SCOPE (PUBLIC DEV MODE)
    // APP_ID: 2h_web_solutions_tech_seo_app_v1
    match /apps/2h_web_solutions_tech_seo_app_v1/{document=**} {
      // ACHTUNG: Public Access enabled für Demo-Zwecke
      allow read, write: if true;
    }
  }
}
